parameters_sync.py
Untitled.ipynb
.DS_Store
private.py
data/
plots/
data_2/
plots_2/
__pycache__/
.ipynb_checkpoints/
meta/
.spyproject/
keygen*
plot_span_range.prof
portfolio_space.py
spectral.py
toolkit.py
latex/
asset_management.shapesdoc/
comparison_io.py
comparison_plots.py
figurewidget-app.ipynb
.pylintrc
simulation.xlsx
